<%# 表示  %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>メッセージ一覧</h1>
    </div>
    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-info"><%= message.name %></span>
            <%= message.body %>
            <br>
        <% end %>
    </div>
</div>


<%# 入力 %>
<%= form_for(@message) do |f| %>
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            入力
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>名前：</label><br>
            <%= f.text_field :name %>  
        </div>
        <div class="form-group">
            <label>内容：</label><br>
            <%= f.text_area :body, cols:60, rows:5 %>
        </div>
        <%= f.submit class:"btn btn-sm btn-primary"%>
    </div>
</div>
<% end %>